@font-face {
  font-family: 'Causten';
  src: url('/assets/font/Causten-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Causten';
  src: url('/assets/font/Causten-ThinOblique.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Causten';
  src: url('/assets/font/Causten-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Causten';
  src: url('/assets/font/Causten-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Causten';
  src: url('/assets/font/Causten-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Causten';
  src: url('/assets/font/Causten-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Causten';
  src: url('/assets/font/Causten-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Causten';
  src: url('/assets/font/Causten-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Causten';
  src: url('/assets/font/Causten-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Causten';
  src: url('/assets/font/Causten-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Causten', sans-serif;
}